@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ffffff;
  --primary: #ff3c3c;
  --secondary: #1a1a1a;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans);
}

.hero-gradient {
  background: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.9));
}

.track-card {
  background: var(--secondary);
  transition: transform 0.2s;
}

.track-card:hover {
  transform: translateY(-5px);
}

.main-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: url('/images/обложка.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.4;
}

.main-background::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(10,10,10,0.7),
    rgba(10,10,10,0.8)
  );
}

.hover\:shadow-glow:hover {
  box-shadow: 0 0 20px rgba(255, 60, 60, 0.5);
}
